* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-5: hsl(0, 0%, 42%);
    --gray-95: hsl(0, 0%, 7%);
}
body {
    background-color: var(--yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}